  body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
  }

  @media (max-width: 991.98px) {

      .custom-nav-wrapper {
          background-color: #000 !important;
          width: 75vw;
          max-width: 300px;
          height: 80%;
          top: 6%;
      }

      .custom-nav-wrapper .navbar-nav {
          align-items: flex-end;
      }

      .custom-nav-wrapper .nav-link {
          font-size: 1.5rem;
          font-weight: 500;
          padding-right: 0;
          padding: 1.25rem 1.5rem 1.5rem 2rem !important;
          border-bottom: 1px solid rgba(255, 255, 255, 0.274);
          color: #fff !important;
      }
  }

  @media (min-width: 992px) {
      .custom-nav-wrapper.offcanvas-lg {
          position: static !important;
          transform: none !important;
          visibility: visible !important;
          width: 100% !important;
          max-width: 100% !important;
          height: auto !important;
          inset: auto !important;
          background: transparent !important;
      }

      /* Center nav links */
      .custom-nav-wrapper .navbar-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin: 0 auto;
      }
  }

  #searchInput:focus {
      outline: none !important;
      box-shadow: none !important;
      border-color: #ced4da !important;
  }

  .input-group:focus-within {
      box-shadow: none !important;
  }

  .suggestions-list {
      max-height: 200px;
      overflow-y: auto;
      z-index: 1000;
      top: 100%;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
  }

  .suggestion-item {
      cursor: pointer;
      transition: background-color 0.1s ease;
  }

  .suggestion-item:hover,
  .suggestion-item.active {
      background-color: #f8f9fa;
  }

  .suggestion-item+.suggestion-item {
      border-top: 1px solid #eee;
  }

  .carousel-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
  }

  @media (max-width: 991.98px) {
      #newMobileCarousel .image-wrapper img {
          width: 100%;
          height: 248px;
          display: block;
          margin: 0 auto;
          object-fit: cover;
      }
  }

  .mobile-carousel-indicators-external {
      position: relative;
      margin-top: 15px;
  }

  .mobile-carousel-indicators-external .carousel-indicators {
      position: static;
      margin: 0;
      justify-content: center;
  }

  .mobile-carousel-indicators-external .carousel-indicators button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none;
      background-color: #000;
      margin: 0 4px;
      opacity: 0.5;
      transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .mobile-carousel-indicators-external .carousel-indicators button.active {
      background-color: #000;
      opacity: 1;
      transform: scale(1.1);
  }

  @media(min-width: 992px) {

      .desktop-tall-image {
          height: 500px;
      }

      .desktop-short-image {
          height: 245px;
      }
  }


  /* stores */
  .logo-slider-track {
      width: max-content;
      animation: scroll-left 40s linear infinite;
  }

  .logo-slider:hover .logo-slider-track {
      animation-play-state: paused;
  }

  .logo-item {
      width: 132px;
      height: 100px;
      margin-right: 20px;
      background-color: #fff;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  }

  .logo-item img {
      max-width: 80%;
      max-height: 80%;
  }


  @keyframes scroll-left {
      0% {
          transform: translateX(0);
      }

      100% {
          transform: translateX(-50%);
      }
  }

  .offcanvas-end {
      width: 75vw;
      max-width: 300px;
  }


  /* Cards & Reviews */
  .text-truncate-4-lines {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(4 * 1.5em);
  }

  .text-truncate-2-lines {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(2 * 1.5em);
  }

  .text-truncate-1-lines {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: calc(1 * 1.5em);
  }

  .review-card {
      border-bottom: 1px solid #ddd;
  }

  .star-icon {
      color: #ccc;
  }

  .star-icon.filled {
      color: #FFD700;
  }

  .rating-bar {
      height: 10px;
      background-color: #eee;
  }

  .details-toggle-wrapper {
      margin-left: 50%;
  }

  .details-toggle {
      cursor: pointer;
  }

  @media (min-width: 992px) {
      .reviews-wrapper {
          border: 1px solid #ddd;
          border-radius: 8px;
      }

      .image-fixed-size {
          width: 215px !important;
          height: 207px !important;
          flex-shrink: 0;
      }
  }

  @media (max-width: 991.98px) {
      .reviews-wrapper {
          border: none !important;
      }

      .review-card {
          padding-left: 0 !important;
          padding-right: 0 !important;
          border-bottom: 1px solid #eee;
      }

      .image-fixed-size {
          width: 196px;
          height: 189px;
      }

      .details-toggle-wrapper {
          margin-left: 40%;
      }
  }

  @media (max-width:768px) {
      .image-fixed-size {
          width: 100%;
      }
        .rating-section {
          display: none;
      }
  }

  /* blogs */
  .hide-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
  }

  .hide-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Logo Grid */
  .logo-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 1.5rem;
      justify-items: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
  }

  .img-ratio {
      aspect-ratio: 182 / 50;
      width: 100%;
      max-width: 182px;

      height: auto;
      object-fit: contain;
  }

  @media(max-width: 1000px) {
      .logo-grid {
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;
      }

      .img-ratio {
          max-width: 130px;
      }
  }

  .card-container {
      cursor: pointer;
      transition: box-shadow .3s ease-in-out;
      height: 269px;
  }

  .card-container:hover {
      box-shadow: 0 15px 25px -3px rgba(0, 0, 0, .15);
  }

  .card-image {
      transition: transform .5s cubic-bezier(.4, 0, .2, 1);
  }

  .card-container:hover .card-image {
      transform: scale(1.05);
  }

  .hover-overlay {
      inset: 0;
      background-color: rgba(255, 255, 255, 0.45);
      opacity: 0;
      transition: opacity .4s ease-in-out;
      color: #212529;
  }

  .card-container:hover .hover-overlay {
      opacity: 1;
  }

  .btn:hover {
      background-color: #000;
      color: #fff;
  }

  @media (min-width: 992px) {
      .card-container {
          height: 100%;
          max-width: 100%;
          margin-right: auto;
      }
  }


  /* Horizontal Scroll */
  .horizontal-scroll-row {
      scrollbar-width: none;
  }

  .horizontal-scroll-row::-webkit-scrollbar {
      display: none;
  }

  /* Desktop override */
  @media (min-width: 992px) {
      .horizontal-scroll-row {
          overflow-x: hidden !important;
      }
  }

  /* Testimonials */

  .testimonial-slider-wrapper {
      cursor: grab;
  }

  .custom-slide {
      width: 250px;
      margin-right: 20px;
  }


  .testimonial-card {
      flex: 0 0 auto;
      height: 200px;
      padding: 15px;
      background-color: #f0f0f0;
  }

  .testimonial-img-overlay {
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
  }

  .testimonial-img-overlay img {
      width: 80px;
      height: 80px;
      border: 5px solid white;
      border-radius: 50%;
  }

  .rating {
      color: #FFC107;
  }

  .slider-track-ltr {
      animation: scroll-ltr 45s linear infinite;
  }

  .slider-track-rtl {
      animation: scroll-rtl 45s linear infinite;
  }

  @keyframes scroll-ltr {
      from {
          transform: translateX(0);
      }

      to {
          transform: translateX(-50%);
      }
  }

  @keyframes scroll-rtl {
      from {
          transform: translateX(-50%);
      }

      to {
          transform: translateX(0);
      }
  }